
    <h4>Départ</h4>
 <ul class="list-group">
<app-depart-item *ngFor="let departs of depart;let i = index"
                        [id] = "departs.id"
                        [Train] = "departs.train"
                        [Destination] = "departs.destination"
                        [Horaire] = "departs.horaire"
                        [Statu] = "departs.statu.etat"
                        [IdStatu] = "departs.statu.id"
                        [Type] = "departs.type"
                        [Gare] = "departs.gare_desc"
                       [index] = 'i'
                       
                       
                        ></app-depart-item>
</ul>





