<div class="col-xs-12">

    <div class=" d-flex justify-content-start">
        <div class="ps-5 w-100">
            <app-depart></app-depart>
        </div>
        <div class="ps-5 w-100">
            <app-arrivee></app-arrivee>
        </div>
</div>
</div>