
<li   class="list-group-item  d-flex justify-content-start" [ngClass] = "{
   'list-group-item-danger':IdStatu === 2,
   'list-group-item-success':IdStatu === 1
}">
    <div >
    <h1>{{Type}}</h1>
 </div>
    <div class="ps-5">
    <h4>{{ Train }}</h4>
    <p>{{Destination}}</p>
    <p *ngIf='Gare.length >0'>Gare désservis : 
       <span *ngFor='let gares of Gare'>
          {{gares.nom}} -- </span>
      
      
      
    </p>
   <p>{{Statu}}</p>
  
    </div>
  </li>

