
    <h4>Arrivee</h4>
    <ul class="list-group">
   <app-arrivee-item *ngFor="let arrivees of arrivee;let i = index"
                            [id] = "arrivees.id"
                           [Train] = "arrivees.train_arrivee"
                           [Destination] = "arrivees.origine_arrivee"
                           [Horaire] = "arrivees.horaire_arrivee"
                           [Statu] = "arrivees.statu_arrivee.etat"
                           [IdStatu] = "arrivees.statu_arrivee.id"
                           [Type] = "arrivees.type_arrivee"
                           [Gare] = "arrivees.gare_arrivee_statu"
                           [index] = 'i'
                        
                           
                          
                           ></app-arrivee-item>
   </ul>
   
   
   
   
   
   